html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6,
p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: max-content;
}

a:focus, button:focus {
  outline: none;
}

a:hover {
  color: var(--color-primary);
}

a:focus-visible,
a:active {
  box-shadow: 0 0 3px 2px var(--color-primary);
}

button {
  cursor: pointer;
  border: none;
  transition: box-shadow 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0 0 10px 5px var(--color-primary);
}

button:focus-visible,
button:active {
  box-shadow: 0 0 10px 0 var(--color-primary);
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
}