.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__logo {
  width: 106px;
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: var(--color-text);
}

.header__logo-primary {
  color: var(--color-primary);
}

.header__search-form {
  flex-grow: 1;
  height: 70px;
  padding-left: 73px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-color: var(--color-second);
  border-radius: 6px;
  overflow: hidden;
}

.header__serch-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  color: var(--color-text);
  padding-left: 13px;
}

.header__serch-input:focus-visible {
  background-color: var(--color-primary);
}

.header__burger-btn {
  width: 106px;
  height: 40px;
  background-color: transparent;
  border-radius: 6px;
  outline: none;
  transition: box-shadow .2s ease-in-out;
}

.header__burger-svg {
  stroke: var(--color-text);
  transition: stroke .2s ease-in-out;
}

.header__burger-btn:hover .header__burger-svg,
.header__burger-btn:active .header__burger-svg {
  stroke: var(--color-primary);
}

.header__burger-btn:focus-visible,
.header__burger-btn:active {
  box-shadow: 0 0 3px 2px var(--color-primary);
}

@media (max-width: 768px) {
  .header__container {
    flex-wrap: wrap;
  }

  .header__search-form {
    order: 1;
    width: 100%;
    height: 50px;
    padding-left: 50px;
    background-position: left 10px;
  }
}